
/*
h2 - Välkommen till
h3 - Skapa grupp, Skapa körschema
h4 - Grupper, Körschema, (Fotbollsgruppen?)
h5/p - Namn på grupp:
h1 - Inbjudan är skickad! Grattis!
*/
p {
  /* position: absolute; */
  /* width: 103px; */
  /* height: 18px; */
  /* left: 17px; */
  /* top: 224px; */

  /* font-family: Roboto; */
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 15px;
  line-height: 18px;

  /* identical to box height */
  /* text-align: center; */
  letter-spacing: -0.333333px;
}
body {
  font-size: larger;
  font-family: "roboto";
}
.header {
  background-color: #afafaf;
  padding: 7px;
  position: absolute;
  height: 30px;
  width: 100%;
  padding-left: 18px;
}
.container {
  background-color: #c5c5c5;
  padding: 8px;
  margin: 7px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.right {
  text-align: right;
  text-align: end;
}
.button-v3 {
  /* top: 50%; */
  left: 50%;
  /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -0%);
  position: relative;
  border: none;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 33px;
  
  /* text-align: center; */
}
i.li-user-icon {
  /* height: 33px; */
  /* width: 33px; */
  font-size: 33px;
}
li {
  display: block;
}
.group-box {
  border-radius: 10px;
}
.create-schedule-box {
  margin: 33px;
}

.side-by-side {
  
  background-color: #c5c5c5;
  /* width: 100%; */
  /* float: left; */
  /* height: 0px; */
  /* width: 50%; */
  /* padding: 0 10px; */
}
.icon-column {
  width: 50px; height: 50px; float: left;
  text-align: center;
  vertical-align: middle;
  margin-top: 7px;
}
.group-column {
  margin-left: 44px; height: 44px;
}

.sub-header {
  /* position: absolute; */
  padding-top: 14px;
  width: 100%; /*375*/
  height: 71px;
  /* left: 0px; */
  /* top: 0px; */
}
.form {
  border-radius: 10px;
}
input {
  padding-left: 11px;
}
.standard-input {
  /* position: absolute; */
  width: 333px;
  height: 50px;
  /* left: 19px; */
  top: 438px;
  border-radius: 10px;
  border: 1px;
  margin-bottom: 10px;
}
.input-side-by-side {
  width: 345px;
}
.small-input {
  
  width: 156px;
  height: 40px;
  /* left: 20px; */
  top: 543px;
  border-radius: 10px;
  border: 1px;
}
#aktivitetens-start {
  margin-right: 4px;
}
#aktivitetens-slut {
  margin-left: 3px;
}
.page-content {
  position: absolute;
  top: 44px;
}
.fa-futbol {
  /* width: 100%; */
  margin: 7px;
}
