
/*
h2 - Välkommen till
h3 - Skapa gruppens körschema
h4 - Aktivitet, Schema, Skjutsning
h5/p - Namn på grupp:
h1 - Inbjudan är skickad! Grattis!
*/

/* Applicerat på hela sidan - gör så att t.ex width: 343px; alltid är 343px, oavsett eventuell padding */
* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  /*font-size: 11px;*/
  /*line-height: 18px;*/
  letter-spacing: -0.333333px;
}
body {
  /* font-size: larger; */
  background-color: #F2F2ED;
  /* color: #363636; */
  color: black;
}

/* HEADERN */
.header {
  background-color: #ffffff;
  position: absolute;
  height: 50px;
  width: 100%;
  /* padding-left: 18px;
  padding-right: 7px; */
}
/* Header side-by-side-försök */
.flex {
  
  display: flex;
}
.left {
  display: flex;
  width: 57%;
  align-items: center;
  padding-left: 15px;
   /* justify-content: center; */
}
.right {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5em;
  padding-right: 0.5em;
}

.header-element{
  font-size: 150%;
  /* text-indent: 10px; */
  color: #363636;
  padding-right: 6px;
  /* margin-left: 11px; */
}

.my-account{
  color: #882E76;
  font-size: 5vw;
  /* margin-left: 101px; */
}

h2{
  font-size: 25px;
  
  margin-top: 1.2em;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 18px;
  margin-top: 0.3em;
  margin-bottom: 0.7em;
}
h4 {
  font-size: 16px;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}

/* KÖRSCHEMA (ÖVERSIKT) */
.overview-info {
  margin-left: 0.1em;
}
.loose-text-field {
  padding-left: 6vw;
  margin-bottom: 0.8em;
}

.changesizeofbr{
  content: "";
  margin: 5em;
  display: block;
  font-size: 24%;
}


/* SUBHEADER FOTBOLLSGRUPPEN */
.sub-header-football {
  display: flex;
  background-color: #85B093;
  /* padding-top: 16px; */
  align-items: center; 
  
  width: 100%;
  height: 24vw;
}
.football-column {
  display: flex;
  width: 62px; height: 50px;
  
  text-align: center;
  vertical-align: middle;
  align-items: center; 
  justify-content: center;
  
}
.group-column {
  display: flex;
  height: 50px;
  
  align-items: center;
  padding-top: 0.4em;
  padding-left: 0.4em;
  
  margin-left: 0.2em;
  
  line-height: 20px;
  
}
#members {
  font-weight: normal;
}


/* BOXAR */
.box-a {
  background-color: #ffffff; /*#c5c5c5;*/
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.group-box {
  border-radius: 8px;
}
.before-create-schedule-box {
  margin: 33px;
  border-radius: 0px;
}



/* LISTOR */
ul {
  list-style-type: none;
  /* padding-left: 0; */
}

i.li-user-icon {

  font-size: 33px;
}



.button-v1 {
  left: 50%;
  transform: translate(-50%, -0%);
  position: relative;
  border: none;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 33px;
  display: inline-block;
  background-color: white;
  text-decoration: none;
  color: black;
}
.button-v2 {
  background-color: #882E76;
  color: white;
  height: 43px;

  padding-left: 32px;
  padding-right: 32px;
  
  border-radius: 19px;
  border: none;
  text-align: center;
  text-decoration: none;
  left: 50%;
  transform: translate(-50%, -0%);
  position: relative;
  
  margin-bottom: 30px;

}
.button-v2:hover{
  background-color: #363636;
}



/* SKAPA KÖRSCHEMA-FORMULÄRET */
/* input, label{
  display: block;
} */
/* .label::after {
  content: "\a";
  white-space: pre;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
}
.form {
  border-radius: 8px;
}
input {
  font-size: 15px;
  background-color: #F2F2ED;
  /*DFDFD2*/
  
  border-width: 1px;
  padding-left: 11px;
  padding-right: 4px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0pt 1pt #882E76;
}
.standard-input:focus {
  outline: none;
  box-shadow: 0 0 0pt 1pt #882E76;
}
.standard-input {
  /* position: absolute; */
  width: 280px;
  height: 34px;
  /* left: 19px; */
  font-size: 16px;
  top: 438px;
  border-radius: 4px;
  border: 1px;
  margin-bottom: 20px;
  padding-right: 4px;
  border: solid #DFDFD2;
  border-width: thin;
}
.option-list {
  background-color: #F2F2ED;
  padding-left: 7px;
  padding-right: 7px;
  /* color: #767676; */
}
.input-side-by-side {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.small-input {
  background-color: #F2F2ED;
  width: 134px;
  height: 34px;
  /* left: 20px; */
  /* top: 543px; */
  border-radius: 4px;
  border: 1px;
  border: solid #DFDFD2;
  border-width: thin;
}
.input-left {
  margin-right: 1px;
}
.input-right {
  margin-left: 1px;
}


.page-content {
  position: absolute;
  top: 48px;
  width: 100%;
}

/* IKONER */
.fa-futbol {
  width: 36px;
  /* margin: 7px; */
  margin-left: 2px;
}
.fa-bars {
  /* width: 93px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  margin-left: 8px;
}
hr{
  background-color: rgb(0, 3, 5);
  width: 200px;
  height: 0px;
  float: left;
  
}

/* CHOOSE DRIVERS BOX */
.choose-drivers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 5px 5px; */
}
table.even {
  border-collapse: separate;
  border-spacing: 0px 13px;
  table-layout: fixed;
  width: 100%;
}
th {
  text-align: left;
}
select.driver {
  border-style: none;
  font-size: 15px;
}

.schedule-box {
  background-color: #ffffff; /*#c5c5c5;*/
  padding: 22px;
  margin: 8px;
  /* margin-bottom: 30px; */
  border-radius: 8px;
  
  border-left: solid #EDB946;
  border-width: 11px;
}

.schedule-box ul {
  /* display: flex;
  flex-direction: column; */
  /* list-style-type: disc; */
  padding-left: 0px;
}
.schedule-box table {
  /* background-color: #882E76; */
  margin-bottom: 0.8em;
}
.schedule-box td.icon {
  padding-right: 20px;
}
.schedule-box td.time {
  width: 116px;
  padding-right: 0px;
}


.alt-user-logo {
  margin-top: 0;
  margin-bottom: 0.1em;
  margin-right: 1em;
  font-size: 28px;
}

/* .schedule-box tr::before {
  content: "\2022";  
  font-size: 28px;
  color: #363636; 
  font-weight: bold; 
  display: inline-block; Needed to add space between the bullet and the text
  width: 1em; 
  margin-left: -1em; 
  
  padding-top: 0.1em;
} */

/* Skugga till välja-förare-ruta:
-webkit-box-shadow: 3px 6px 13px -3px #000000; 
box-shadow: 3px 6px 13px -3px #000000; */

.schedule-box2 {
  background-color: #ffffff; /*#c5c5c5;*/
  padding: 22px;
  margin: 8px;
  /* margin-bottom: 30px; */
  border-radius: 8px;
  border-left: solid #F2B3B6;
  border-width: 11px;
}
.schedule-box2 ul {
  /* display: flex;
  flex-direction: column; */
  /* list-style-type: disc; */
  padding-left: 0px;
}
.schedule-box2 table {
  /* background-color: #882E76; */
  margin-bottom: 0.8em;
}
.schedule-box2 td.icon {
  padding-right: 20px;
}
.schedule-box td.time {
  width: 116px;
  padding-right: 0px;
}

/* td.time {
  /* width: 50%;  */
  /* text-align: right;
}
td.name {
  width: 80%;  */
  /* text-align: right; */
/* } */

.schedule-box2 i { /* ska eg vara en ikon ingen h1:a */
  margin-top: 0;
  margin-bottom: 0.1em;
  margin-right: 0.1em;
  font-size: 28px;
}

.skapagruppenskörschema{
  font-size: 140%;
}

.hamburgarmeny{
  /* padding-left: 15px; */
  /* padding-top: 10px;  */
  padding: 0.5em;
  padding-left: 1em;
  display: flex;
  width: 90%;
  align-items: center;
}

td.name{
  width: 80%;
  
}
